body
{
    margin: 0;
    background: #444444;;
    cursor: default;
    font-family: Verdana, Helvetica, sans-serif;
}

p
{
    margin: 0;
}

label
{
    font-weight: bold;
    font-size: 24px;
}

input[type="text"], input[type="password"], textarea
{
    width: 320px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border: 1px solid #888888;
    font-size: 24px;
}

input:focus, textarea:focus
{
    border-color: rgba(0, 255, 0, 0.8);
    box-shadow: 0 0 8px rgba(0, 255, 0, 0.4);
}

input[type="text"], input[type="password"]
{
    height: 32px;
}

.ff {
    background-image:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1));
    background-image:-moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1));
    background-image:-ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1));
    background-image:-o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1));
    background-image:linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1));
    display:inline-block;
    vertical-align:middle;
    margin:2px;
    font:italic 14px/32px Georgia,Serif;
    text-align:center;
    color:white;
    text-decoration:none;
    text-shadow:0px 1px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow:inset 0px -3px 0px rgba(0,0,0,0.1), 0px 3px 0px rgba(0,0,0,0.1);
    -moz-box-shadow:inset 0px -3px 0px rgba(0,0,0,0.1), 0px 3px 0px rgba(0,0,0,0.1);
    box-shadow:inset 0px -3px 0px rgba(0,0,0,0.1), 0px 3px 0px rgba(0,0,0,0.1);
    padding:0px 15px 3px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    border-width: 0;
}

.ff.green {background-color:#82C43A;}
.ff.red   {background-color:#F5494C;}
.ff.blue  {background-color:#659AE0;}
.ff.gray  {background-color:#dddddd; color:#444444;}

.ff:hover {
    background-image:-webkit-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0.2));
    background-image:-moz-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0.2));
    background-image:-ms-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0.2));
    background-image:-o-linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0.2));
    background-image:linear-gradient(top, rgba(0,0,0,0.05), rgba(0,0,0,0.2));
}

.ff:active {
    position:relative;
    top:2px;  
    -webkit-box-shadow:inset 0px -1px 0px rgba(0,0,0,0.1), 0px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow:inset 0px -1px 0px rgba(0,0,0,0.1), 0px 2px 0px rgba(0,0,0,0.1);
    box-shadow:inset 0px -1px 0px rgba(0,0,0,0.1), 0px 2px 0px rgba(0,0,0,0.1);
}

div#head
{
    z-index: 8;
    min-width: 840px;
    height: 64px;
    box-shadow: 0 0 8px yellow;
    -moz-box-shadow: 0 0 8px yellow;
    -o-box-shadow: 0 0 8px yellow;
    -webkit-box-shadow: 0 0 8px yellow;
    -ms-box-shadow: 0 0 8px yellow;
    background: #55bb88;
}

header
{
    position: relative;
    margin: 0 auto;
    width: 840px;
}

div#wrapper
{
    margin: 16px auto 0;
    width: 840px;
}

nav > ul
{
    margin: 0 0 0 -4px;
    padding: 0;
    list-style-type: none;
}

li.tab
{
    position: relative;
    display: inline-block;
    margin: 0 4px;
    padding: 4px 8px;
    min-width: 120px;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    box-shadow: 0 0 8px green;
    -moz-box-shadow: 0 0 8px green;
    -o-box-shadow: 0 0 8px green;
    -webkit-box-shadow: 0 0 8px green;
    -ms-box-shadow: 0 0 8px green;
    background: #888888;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: #dddddd;
}

section.board
{
    display: none;
    position: relative;
    z-index: 4;
    padding: 8px 16px;
    min-height: 520px;
    border-radius: 0 4px 4px 4px;
    -moz-border-radius: 0 4px 4px 4px;
    -o-border-radius: 0 4px 4px 4px;
    -webkit-border-radius: 0 4px 4px 4px;
    -ms-border-radius: 0 4px 4px 4px;
    box-shadow: 0 0 8px green;
    -moz-box-shadow: 0 0 8px green;
    -o-box-shadow: 0 0 8px green;
    -webkit-box-shadow: 0 0 8px green;
    -ms-box-shadow: 0 0 8px green;
    background: #dddddd;
}

section.board > h2
{
    margin: 4px 0;
}

section.board a
{
    text-decoration: none;
    color: #444444;
}

section.board > a.independent
{
    margin: 0 0 0 24px;
}

section.board a:hover
{
    text-decoration: underline;
}

section.board > p
{
    margin: 0 0 0 24px;
    color: #444444;
}

table#schedule_table {
    float: right;
}

table#schedule_table td {
    padding: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #888888;
    color: #fdfdfd;
}

footer
{
    padding: 8px 16px;
}

header > h1
{
    margin: 0;
    padding: 4px 8px;
    text-align: center;
    font-size: 40px;
    color: white;
}

span.sub
{
    cursor: pointer;
    vertical-align: sub;
    font-size: 32px;
    color: #dddddd;
}

span#site
{
    display: none;
}

img#profile_img
{
    position: absolute;
    top: 4px;
    right: 120px;
}

button#checkin
{
    position: absolute;
    top: 16px;
    right: 8px;
    width: 120px;
}

footer > span
{
    color: #dddddd;
}

div#modal
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    display: none;
    min-width: 100%;
    height: 100%;
    background: rgba(136, 136, 136, 0.8);
}

div#checkin_box
{
    position: relative;
    display: none;
    margin: 184px auto;
    padding: 8px;
    width: 320px;
    height: 200px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    box-shadow: 0 0 8px yellow;
    -moz-box-shadow: 0 0 8px yellow;
    -o-box-shadow: 0 0 8px yellow;
    -webkit-box-shadow: 0 0 8px yellow;
    -ms-box-shadow: 0 0 8px yellow;
    background: #dddddd;
}

div#email_section
{
    margin-top: 32px;
}

label#email_label
{
    display: inline-block;
    line-height: 40px;
}

button#go {
    margin: 24px 104px;
    width: 120px;
    font-size: 24px;
}

span.close
{
    position: absolute;
    top: 4px;
    right: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #888888;
}

span.close:hover
{
    color: #444444;
}
