body
{
    margin: 0;
    background: #444444;;
    cursor: default;
    font-family: Verdana, Helvetica, sans-serif;
}

label
{
    font-weight: bold;
    font-size: 24px;
}

input[type="text"], input[type="password"], textarea
{
    width: 320px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border: 1px solid #888888;
    font-size: 24px;
}

input:focus, textarea:focus
{
    border-color: rgba(0, 255, 0, 0.8);
    box-shadow: 0 0 8px rgba(0, 255, 0, 0.4);
}

input[type="text"], input[type="password"]
{
    height: 32px;
}

button
{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border: 1px solid #888888;
    box-shadow: 0 0 8px #888888;
    -moz-box-shadow: 0 0 8px #888888;
    -o-box-shadow: 0 0 8px #888888;
    -webkit-box-shadow: 0 0 8px #888888;
    -ms-box-shadow: 0 0 8px #888888;
    background: #dddddd;
    cursor: pointer;
    font-size: 20px;
    color: green;
}

button:hover
{
    box-shadow: 0 0 4px #888888;
    -moz-box-shadow: 0 0 4px #888888;
    -o-box-shadow: 0 0 4px #888888;
    -webkit-box-shadow: 0 0 4px #888888;
    -ms-box-shadow: 0 0 4px #888888;
}

div#head
{
    z-index: 4;
    height: 64px;
    box-shadow: 0 0 8px yellow;
    -moz-box-shadow: 0 0 8px yellow;
    -o-box-shadow: 0 0 8px yellow;
    -webkit-box-shadow: 0 0 8px yellow;
    -ms-box-shadow: 0 0 8px yellow;
    background: #55bb88;
}

header
{
    position: relative;
}

div#wrapper
{
    margin: 16px auto 0;
    width: 840px;
}

section
{
    min-height: 544px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    box-shadow: 0 0 8px green;
    -moz-box-shadow: 0 0 8px green;
    -o-box-shadow: 0 0 8px green;
    -webkit-box-shadow: 0 0 8px green;
    -ms-box-shadow: 0 0 8px green;
    background: #dddddd;
}

footer
{
    padding: 8px 16px;
}

header > h1
{
    margin: 0;
    padding: 4px 8px;
    text-align: center;
    font-size: 40px;
    color: white;
}

span.sub
{
    cursor: pointer;
    vertical-align: sub;
    font-size: 32px;
    color: #dddddd;
}

span#site
{
    display: none;
}

img#profile_img
{
    position: absolute;
    top: 4px;
    right: 120px;
}

button#checkin
{
    position: absolute;
    top: 16px;
    right: 32px;
    padding: 4px;
}

footer > span
{
    color: #dddddd;
}

div#modal
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    display: none;
    min-width: 100%;
    height: 100%;
    background: rgba(136, 136, 136, 0.8);
}

div#checkin_box
{
    position: relative;
    display: none;
    margin: 184px auto;
    padding: 8px;
    width: 320px;
    height: 200px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    box-shadow: 0 0 8px yellow;
    -moz-box-shadow: 0 0 8px yellow;
    -o-box-shadow: 0 0 8px yellow;
    -webkit-box-shadow: 0 0 8px yellow;
    -ms-box-shadow: 0 0 8px yellow;
    background: #dddddd;
}

div#email_section
{
    margin-top: 32px;
}
/*
label#email_label
{
    margin: 0 120px;
}
*/
button#go
{
    margin: 32px 80px;
    width: 160px;
    background: #55bb88;
    font-size: 32px;
    color: #dddddd;
}

span.close
{
    position: absolute;
    top: 4px;
    right: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #888888;
}

span.close:hover
{
    color: #444444;
}
